# === Системные файлы macOS ===
.DS_Store
.AppleDouble
.LSOverride
Icon


# === Настройки среды разработки PyCharm (JetBrains) ===
.idea/
*.iml
out/


# === Виртуальное окружение Python ===
# (Папки, куда устанавливаются библиотеки через pip)
.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt


# === Кэш Python ===
__pycache__/
*.pyc
*.pyo
*.pyd


# === Папки и артефакты сборки PyInstaller ===
# Мы не заливаем готовую программу на Гит, там должен быть только код!
build/
dist/
*.spec


# === Сторонние файлы и бинарники ===
# Локальный файл ffmpeg, который вы скачали для сборки.
# Ему не место в репозитории кода, так как он весит ~100MB.
ffmpeg